.ou-properties-field {
	background-color: var(--background-primary);
}

.ou-properties-key {
	background-color: var(--background-primary);
	text-transform: capitalize;
}

.ou-properties-key::after {
	content: ": "
}
