.ou-properties-container {
	border-radius: var(--radius-s);
}

.ou-properties-field,
.ou-properties-key {
	padding: 0 0.5em 0;
}

.ou-properties-field {
	background-color: var(--background-secondary-alt);
}

/* .ou-properties-key::after { */
/* 	content: ":" */
/* } */

.ou-properties-key {
	background-color: var(--background-primary-alt);
	/* text-transform: capitalize; */
}
